* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background: linear-gradient(to top left, #f34804, #dfa507);
    /* background: linear-gradient(to top right, black, rgb(48, 48, 48)); */
}


.header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top right, #f34804, #dfa507);
    /* background: linear-gradient(to top right, black, rgb(48, 48, 48)); */
    border-bottom: 5px solid orangered;
}

.header-logo {
    margin-top: 15px;
    width: 200px;
}

.input {
    display: flex;
    justify-content: center;
    margin: 15px;
}

input {
    width: 200px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 25px;
}

input {
    padding-left: 10px;
}

button {
    /* border: 1px solid rgb(204, 204, 204); */
    border: 1px solid #dfa507;
    background-color: #dfa507;
    border-radius: 4px;
    margin-left: 5px;
    width: 30px;
}

button:hover {
    /* background-color: rgb(145, 145, 145);
    border-color: rgb(145, 145, 145); */
    background-color: orangered;
    border-color: orangered;
    cursor: pointer;
}

/* DISPLAY - FLEX */
 .content { 
    /* border: 1px solid black;  */
    /* flex-direction: column;  */
    /* align-items: center;  */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
} 

/* .content {
    /* border: 1px solid black; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* height: auto;
    display: grid;
    grid-template-columns: 19vw 19vw 19vw 19vw;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
} */ 

.programming-language {
    border: 1px solid rgb(202, 201, 201);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(219, 219, 219);
}

.programming-language:hover {
    background-color: rgb(145, 145, 145);
    /* border-color: rgb(145, 145, 145); */
    border: 1.5px solid rgb(104, 103, 103);
}

.image {
    border-radius: 10px;
    width: 240px;
    padding: 5px;
}

.text {
    padding: 10px;
    padding-left: 15px;
}

li {
    list-style-type: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #f34804, #dfa507);
    /* background: linear-gradient(to bottom right, black, rgb(48, 48, 48)); */
    border-top: 5px solid orangered;
    height: 60px;
    margin-top: 15px;
    padding: 30px;
    font-size: 15px;
}

.footer h5 {
    text-transform: uppercase;
    margin-left: 15px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.github {
    display: flex;
}

.github-icon {
    width: 35px;
    margin-left: 20px;
    margin-right: 5px;
    padding-bottom: 6px;
}

.github-icon-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    margin-top: 5px;
}

/* @media screen and (min-width: 1280px) {
    .content {
        display: grid;
        grid-template-columns: 19vw 19vw 19vw 19vw;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        height: auto;
        gap: 1.5%;
    }
}

@media screen and (max-width: 1279px) and (min-width: 800px) {
    .content {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        height: auto;
        gap: 15px;
    }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
    .content {
        display: grid;
        grid-template-columns: 35vw 35vw;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        height: auto;
        grid-row: 2%;
        grid-column: 10%;
    }
}

@media screen and (max-width: 700px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1%;
        grid-row: 2%;
        grid-column: 10%;
    }
} */

/* .hidden {
    display: none;
} */